body{
	position: relative;
	height: 100vh;
	background-color: black;
}

a{
	list-style: none;
	
}

#imajenes{
	
	padding: 10px;
	text-align: center;

}


.cont{
	width: 100%;

}

header{
	background-image: url('https://images3.alphacoders.com/902/902690.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
	position: relative;
	width: 100%;
	box-sizing: border-box;

}
header .fondo_black{
	position: absolute;

	height: 300px;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}
header .navbar-form{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 10px;
}


.footer1{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	left: 0;
	right: 0;
}


/**
 * Fonts
 */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.article-container {
	padding: 2rem;
}

/**
 * Article Block
 */
.article-block {
	text-align: center;
}

.article-block .entry-content > p {
	color: #666;
}

/**
 * Range Slider Container
 */
.range-slider-container {
	padding: 2rem;
}

/**
 * Range Slider Block
 */
.range-slider-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

/**
 * Range Sliders
 */
.range-sliders {
	width: 100%;
	background-color: #fff;
	padding: 1.5rem;
}

.range-sliders > *:not(:last-child) {
	margin-bottom: 1.5rem;
}

.range-sliders input[type=range] {
	width: 100%;
	background: linear-gradient(to right, #f00 0%, #f00 100%, #fff 100%, #fff 100%);
	border-radius: 8px;
	height: 2px;
	outline: none;
	-webkit-appearance: none;
}

.range-sliders input[type=range]:focus {
	outline: none;
}

.range-sliders input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	box-shadow: none;
	background-color: #e6e6e6;
	border-radius: 0;
}

.range-sliders input[type=range]::-moz-range-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	box-shadow: none;
	background-color: #ccc;
	border-radius: 0;
}

.range-sliders input[type=range]::-webkit-slider-thumb {
	box-shadow: none;
	height: 30px;
	width: 12px;
	border-color: transparent;
	border-radius: 22px;
	background-color: #999;
	cursor: ew-resize;
	-webkit-appearance: none;
	margin-top: -15px;
}

.range-sliders input[type=range]::-moz-range-thumb {
	box-shadow: none;
	height: 30px;
	width: 12px;
	border-color: transparent;
	border-radius: 22px;
	background-color: #999;
	cursor: ew-resize;
	-webkit-appearance: none;
	margin-top: -15px;
}

.range-sliders input[type=range]::-moz-focus-outer {
	border: 0;
}

.range-sliders input[type=range].range-slider-red {
	background: linear-gradient(to right, #f00 0%, #f00 35%, #fff 50%, #fff 100%);
}

.range-sliders input[type=range].range-slider-red::-webkit-slider-runnable-track {
	background-color: rgba(255, 0, 0, 0.1);
}

.range-sliders input[type=range].range-slider-red::-moz-range-track {
	background-color: rgba(255, 0, 0, 0.1);
}

.range-sliders input[type=range].range-slider-red::-webkit-slider-thumb {
	background-color: #f00;
}

.range-sliders input[type=range].range-slider-red::-moz-range-thumb {
	background-color: #f00;
}

.range-sliders input[type=range].range-slider-green {
	background: linear-gradient(to right, #090 0%, #090 55%, #fff 50%, #fff 100%);
}

.range-sliders input[type=range].range-slider-green::-webkit-slider-runnable-track {
	background-color: rgba(0, 153, 0, 0.1);
}

.range-sliders input[type=range].range-slider-green::-moz-range-track {
	background-color: rgba(0, 153, 0, 0.1);
}

.range-sliders input[type=range].range-slider-green::-webkit-slider-thumb {
	background-color: #090;
}

.range-sliders input[type=range].range-slider-green::-moz-range-thumb {
	background-color: #090;
}

.range-sliders input[type=range].range-slider-blue {
	background: linear-gradient(to right, #00f 0%, #00f 40%, #fff 50%, #fff 100%);
}

.range-sliders input[type=range].range-slider-blue::-webkit-slider-runnable-track {
	background-color: rgba(0, 0, 255, 0.1);
}

.range-sliders input[type=range].range-slider-blue::-moz-range-track {
	background-color: rgba(0, 0, 255, 0.1);
}

.range-sliders input[type=range].range-slider-blue::-webkit-slider-thumb {
	background-color: #00f;
}

.range-sliders input[type=range].range-slider-blue::-moz-range-thumb {
	background-color: #00f;
}

.range-sliders .input-slider {
	border: 1px solid #e6e6e6;
	padding: 0.5rem;
	-moz-appearance: textfield;
}

.range-sliders .input-slider::-webkit-outer-spin-button,
.range-sliders .input-slider::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.range-sliders .range-slider-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.range-sliders .range-slider-group .range-label {
	width: 100%;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.range-sliders .range-slider-group .range-slider {
	width: calc(100% - 60px);
}

.range-sliders .range-slider-group .input-slider {
	width: 45px;
}
@media (min-width: 576px) {

	.range-sliders {
		width: 500px;
		padding: 3rem;
	}
}
@media (min-width: 768px) {

	body {
		font-size: 1.125rem;
	}

	.range-slider-container {
		padding: 4rem 4rem;
	}
}

